<li>
  Song title: <%= link_to(song.title, song_path(song.id)) %> | Song Artist: <%= song.artist %> | Duration: <%= song.duration %> | Price <%= song.price %> | <%= link_to('Edit', edit_song_path(song)) %> | <%= link_to 'Destroy', song, method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
